<%- include('partials/header.ejs'); -%>

  <div class="container">
    <div class="links">
      <a href="https://github.com/ankitsharma93154"><img src="assets/github_icon.jpg"/></a>
      <a href="https://www.linkedin.com/in/ankit-kumar-sharma-99698028a/"><img src="/assets/linkedIn_icon.jpg"/></a>
      <a href="https://www.instagram.com/ankitsharma93154/"><img src="assets/instagram_icon.png"/></a>
    </div>
    <div class="hero">
        <h1>HEY, I'M ANKIT KUMAR SHARMA</h1>
        <p style="margin-bottom: 8px;">I am a Full Stack Web Developer who is passionate about building scalable </p>
        <p style="margin-top: 0px;"> applications and enthusiastic about learning new technologies.</p>
        <a href="/project" class="btn">PROJECTS</a>
    </div>
  </div>

  
</main>
</body>

</html>